/************
   * 页面样式
   **********/

/* ==========
   基本默认值
   ========= */

html{
    font-size: 62.5%;
    color: #303133;
    height: 100%;
}

::selection{   /* 鼠标滑选效果 */
    background-color: #F93D92;
    color: #fff;
    text-shadow: none;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

/* ==========
   工具样式
   ========= */

.center-block{   /* 类在父元素中居中显示 */
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pull-right{    /* 类似bootstrap,文本对齐就很容易了 */
    float: right !important;
}

.pull-left{
    float: left !important;
}

.text-right{
    text-align: right !important;
}

.text-left{
    text-align: center !important;
}

.hide{
    display: none !important;  /* 隐藏元素的同时，挤占元素空间 */
}

.show{
    display: block !important;
}

.invisible{
    visibility: hidden;  /* 隐藏元素的同时，不挤占元素空间 */
}

.text-hide{
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.clearfix:before,
.clearfix:after{
    content: "";
    display:table;
}

.clearfix:after{
    clear: both;
}

/* ===============
   浏览器更新提示
   =============== */

.browserupgrade{
    margin: 0;
    padding: 0;
    background: #ccc;
}

/* ===============
   自定义页面样式
   =============== */

body{
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
}

a{
    color: #303133;
    text-decoration: none;
}

a:hover, a:active{
    cursor:pointer
}

/* 网站头部 */

header{
    width: 100%;
    flex: 0 0 auto;
}

header .main{
    padding: 0 4rem;
    color: #303133;
    background: #fff;
    border-bottom: 1px #eee solid;
}

header .main .logo{
    float: left;
    padding: 2.2rem 0 0 0;
}

header .main ul{
    text-align: right;
}

header .main ul li{
    display: inline-block;
    line-height: 6rem;
}

header .main ul li a{
    display: inline-block;
    padding: 0 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #303133;
    text-decoration: none;
}

@media only screen and (max-width: 40em){
    header .main .logo{
        width: 100%;
        padding: 1.5rem 0 0.5rem;
        text-align: center;
    }
    
    header .main ul{
        text-align: center;
    }

    header .main ul li{
        line-height: 4rem;
    }

    header .main ul li a{
        padding: 0 1.5rem;
        font-size: 300;
    }


}

/* WORK页主要内容 */

.container{
    flex: 1 0 auto;
}

.container .work-list{
    max-width: 1200px;
    margin: 2rem auto 10rem auto;
}

.container .work-list .project-cover{
    display: inline-block;
    width: calc(33.33333333% - 3rem);
    height:340px;
    border-radius: 8px;
    background: #101113;
    color: #fff;
    margin: 1.33rem;
    position: relative;
    box-shadow: 0px 4px 12px #E5E5E5;
}

.container .work-list .project-cover .field{
    display: inline-block;
    position: absolute;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    top: 2rem;
    left: 1.5rem;
}

.container .work-list .project-cover h1{
    display: inline-block;
    float: left;
    position: absolute;
    color: #fff;
    font-weight: 400;
    top: 3rem;
    left: 1.5rem;
}

.container .work-list .project-cover p{
    display: inline-block;
    position: absolute;
    border: 0.5px solid rgb(255, 255, 255,.3);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: 500;
    top: 21rem;
    left: 1.5rem;
    font-size: 12px;
    line-height: 12px;
    float: left;
}

a.works:hover .project-cover{ 
    background-color: rgb(42, 42, 44);
    transition: all 0.3s ease-in-out;
    transform: translateY(-6px)
}


@media only screen and (max-width: 40em){
    .container .work-list .project-cover{
        display: block;
        width: auto;
        height:200px;
        margin: 1rem;
        font-size: 12px;
    }

    .container .work-list{
        margin: 1rem auto 10rem auto;
    }

    .container .work-list .project-cover h1{
        font-size: 1.8rem;
    }

    .container .work-list .project-cover p{
        font-weight: 400;
        top: 11rem;
    }

}


/* BLOG页主要内容 */
.container .blog-list{
    max-width: 1200px;
    margin: 2rem auto 10rem auto;
}

.container .blog-list .blog-cover{
    display: inline-block;
    width: calc(33.33333333% - 3rem);
    border-radius: 8px;
    height: 13rem;
    background: #fff;
    margin: 1.3rem;
    position: relative;
    border:1px solid #eee; ;
}

.container .blog-list .blog-cover h2{
    display: inline-block;
    float: left;
    position: absolute;
    top: 1.6rem;
    left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0;
}

.container .blog-list .blog-cover .blog-label{
    display: inline-block;
    position: absolute;
    background: #eee;
    color: #303133;
    top: 7.3rem;
    left: 1.5rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    font-size: 12px;
    line-height: 12px;
    border-radius: 4px;
}

.container .blog-list .blog-cover p{
    display: inline-block;
    position: absolute;
    top: 9.3rem;
    left: 1.5rem;
    color: #666;
    font-weight: 300;
}

a.bloghover:hover .blog-cover{ 
    box-shadow: 0px 4px 20px #ddd;
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 40em){
    .container .blog-list .blog-cover{
        display: block;
        width: auto;
        height: 160px;
        margin: 1rem;
        font-size: 12px;
    }

    .container .blog-list{
        margin: 1rem auto 10rem auto;
    }

    .container .blog-list .blog-cover h2{
        font-size: 1.4rem;
        font-weight: 500;
    }
}

/* ABOUT页主要内容 */

.container .about-banner{
    height: 28rem;
    background: #101113;
    color: #fff;
}

.container .about-banner p{
    display: block;
    width: 1080px;
    margin: 0 auto;
    padding: 13rem 0 1rem 0;
    font-size: 3rem;
    font-weight: 300;
}

.container .about-banner .myname{
    display: block;
    width: 1080px;
    margin: 0 auto;
    font-size: 4rem;
    font-weight: 800;
}

.container .info{
    width: 1080px;
    margin: 4rem auto;
}

.container .info .title{
    display: inline-block;
    width: 24rem;
    float: left;
}

.container .info .content{
    display: inline-block;
    width: 62rem;
}

.container .info .content .m{
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    border-bottom: 1px #eee solid;
}

.container .info .content p{
    line-height: 2.5;
    color: #666;
    font-size: 1.17rem;
    font-weight: 300;
    margin: 1rem 0;
}

.container .foto{
    width: 1080px;
    margin: 4rem auto;
    height: 20rem;
}

.container .foto .img{
    float: left;
    width: calc(25% - 2rem);
    margin: 1rem;
    height: 12rem;
    background: #111;
}


@media only screen and (max-width: 40em){
    .container .about-banner{
        height: 14rem;
        background: #101113;
        color: #fff;
    }

    .container .about-banner p{
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
        padding: 3rem 0 1rem 0;
    }

    .container .about-banner .myname{
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
    }

    .container .info{
        display: inline-block;
        width: 90%;
        margin: 1rem 2rem;
    }

    .container .info .content {
        display: inline-block;
        width: 100%; 
    }
    
    .container .foto{
        display: none;
    }

}



/* WORK内页主要内容 */

.work-container{
    flex: 1 0 auto;
    position: relative;
}

.work-container .work-title{
    box-sizing: border-box;
    color: #fff;
    padding: 2rem 80px;
    width: 100%;
    height: 16rem;
    background: #101113;
    margin: 0 auto;
}

.work-container .work-title ul{
    text-align: left;
}

.work-container .work-title ul li{
    display: inline-block;
    line-height: 2rem;
    border: 0.5px solid rgb(255, 255, 255,.3);
    border-radius: 4px;
    padding: 0.1rem 1rem;
    margin-right: 0.2rem;
}

.work-container .work-title .aa{
    color: rgba(255, 255, 255, 0.7);
    margin-top: 2.5rem;
}

.work-container .content{
    width: 1200px;
    background: #fff;
    margin: 0 auto ;
    padding: 2rem 0 0 0;
}

.work-container .content p{
    font-size: 16px;
    line-height: 1.7;
    color: #303133;
}

.more-posts{
    box-sizing: border-box;
    padding: 2.5rem 220px 3rem 220px;
    width: 100%;
    height: 10rem;
    background: #f2f2f2;
    margin: 0 auto;
}

.more-posts .pre{
    text-align: left;
    line-height: 24px;
    float: left;
}

.more-posts .next{
    text-align: right;
    float: right;
    line-height: 24px;
}

@media only screen and (max-width: 40em){
    
    .work-container .work-title{
        box-sizing: border-box;
        color: #fff;
        padding: 1rem 20px;
        width: 100%;
        height: 15rem;
        background: #101113;
        margin: 0 auto;
    }
    
    
    .work-container .content{
        width: 100%;
        display: inline-block;
        background: #fff;
        margin: 0 auto ;
        padding: 2rem 0 0 0;
    }

    .more-posts{
        box-sizing: border-box;
        padding: 2.5rem 1.5rem 3rem 1.5rem;
        width: 100%;
        height: 10rem;
        background: #f2f2f2;
        margin: 0 auto;
    }

    .more-posts span{
        display: none;
    }


}

/* BLOG内页主要内容 */

.container{
    background-color: #f5f5f5;
}

.container .article-title{
    box-sizing: border-box;
    color: #fff;
    padding: 2rem 80px;
    width: 960px;
    height: 14rem;
    background: #101113;
    margin: 0 auto;
}

.container .article-title .blog-label{
    display: inline-block;
    border: 0.5px solid rgb(255, 255, 255,.3);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
}
.container .article-title .aa{
    color: rgb(255, 255, 255,.7);
    font-weight: 300;
}

.container .blog-content{
    box-sizing: border-box;
    width: 960px;
    background: #fff;
    margin: 0 auto ;
    padding: 40px 80px;
}

.container .blog-content p{
    font-size: 16px;
    line-height: 1.7;
    color: #303133;
    font-weight: 300;
}

.container .more-posts{
    box-sizing: border-box;
    padding: 2.5rem 220px 3rem 220px;
    width: 100%;
    height: 10rem;
    background: #eaeaea;
    margin: 0 auto;
}

.container .more-posts .pre{
    text-align: left;
    line-height: 24px;
    float: left;
}

.container .more-posts .next{
    text-align: right;
    float: right;
    line-height: 24px;
}

@media only screen and (max-width: 40em){
    
    .container .article-title{
        box-sizing: border-box;
        color: #fff;
        padding: 1rem 2rem;
        width: 100%;
        height: 15rem;
        background: #101113;
        margin: 0 auto;
    }
    
    
    .container .blog-content{
        width: 100%;
        display: block;
        background: #fff;
        margin: 0 auto ;
        padding: 2rem;
    }

    .container .more-posts{
        box-sizing: border-box;
        padding: 2.5rem 1.5rem 3rem 1.5rem;
        width: 100%;
        height: 10rem;
        background: #f2f2f2;
        margin: 0 auto;
    }

    .container .more-posts span{
        display: none;
    }
    

/* 底部导航 */

footer{
    width: 100%;
    background: #101113;
    padding: 0.2rem;
    flex: 0 0 auto;
    line-height: 3rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}